# Node.js
node_modules/
dist/

# Environnement
.env

# Captures d'écran et fichiers temporaires
*.png
*.jpg
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# contenu du dossier src
src/bkbobScraper.ts
src/refundsDone.ts